body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
  }
  
  main {
    background-color: #fff5ee;
    margin: 30px 8px;
    padding: 15px;
    display: block;
  }
  
  #img-div {
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
    text-align: center; 
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div > img {
    display: block;
  }
  
  figcaption{
    margin-top: 20px;
    padding-bottom: 20px
  }
  
  #image {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  
  #title, .title {
    text-align: center;
  } 
  
  #title {
    font-size: 40px;
    padding-top: 60px
  }
  
  .bold {
    font-weight: bold;
  }
  
  .italic {
    font-style: italic;
  }
  
  
  .tl-head {
    margin: 60px auto;
    text-align: center;
  }
  
  .nm:first-of-type {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .nm {
    margin-bottom: 60px;
  }
  
  ul {
    display: block;
    list-style-type: disc;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  
  #tribute-info {
    margin: 0 auto;
    min-width: 390px;
    width: 590px;
    height: auto;
    max-width: 100%;
    display: block;
  }
  
  li, .nm {
    margin: o auto;
  }
  
  .footer {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
  }
  
  #tribute-link {
    color: #deb887;
    text-decoration: none;
  }
  
  #tribute-link:hover {
    background-color: #ffffff;
    color: #1b1b32;
    cursor: pointer;
  }
  
  